extends layout

block content
  script(src='/socket.io/socket.io.js')
  script(type='text/javascript', src="./scripts/main.js")
  h1= title
  p Welcome to #{title}
  div
    select#CountrySelector
       each country, i in energyUse
        option(value=country.id) #{country.country}

  div#ChartContainer
