doctype 5
html
  head
    title= title
    block scripts
      script(type='text/javascript', src="./scripts/jquery/jquery.js")
      script(type='text/javascript', src='http://code.highcharts.com/highcharts.js')
      script(type='text/javascript', src='http://code.highcharts.com/modules/exporting.js')
  link(rel='stylesheet', href='./css/style.css')
    
  body
    block content
